@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');

*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins',sans-serif;
}
#banner{
    height: 100vh;
    background: #070B1D;
    /* background: #081b29; */
    position: relative;
}
.circle2{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(54, 32, 255, 0.15);
    clip-path: circle(350px);
    filter: blur(115px);
    z-index: 0;
}

.logo{
    width: 100px;
    position: absolute;
    top: 4%;
    left: 5%;
}
.banner-text{
    text-align: center;
    color: #fff;
    padding-top: 180px;
}
.banner-text h1{
    font-size: 140px;
    font-family: 'Kaushan Script' ,sans-serif;
}
.banner-text p{
    font-size: 30px;
    font-style: italic;
    color: #00abf0;
    font-weight: 600;
}

.banner-btn{
    margin: 70px auto 0;
}
.banner-btn a{
    text-decoration: none;
    color: #fff;
    font-weight: 600;
    display: inline-block;
    margin: 0 10px;
    width: 150px;
    padding: 12px 0;
    border: 2px solid #00abf0;
    position: relative;
    z-index: 1;
    transition: color 0.5s;
}
.banner-btn a span{
    width: 0;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background: #00abf0;
    z-index: -1;
    transition: 0.5s;
}
.banner-btn a:hover span{
   width: 100%;
}
.banner-btn a:hover{
    color: #fff;
    font-weight: 600;
}
/* sidebar css */
#sideNav{
    width: 250px;
    height: 100vh;
    position: fixed;
    right: -250px;
    top: 0;
    /* background: rgba(255, 255, 255, 0.1); */
    /* background: rgba(54, 32, 255, 0.15); */
    backdrop-filter: blur(155px);
    z-index: 2;
    transition: 0.5s;
    padding-top: 25px;
}
nav ul li{
    list-style: none;
    margin: 40px 20px;
}
nav ul li a{
    text-decoration: none;
    color: #00abf0;
    font-weight: 600;
    font-size: 20px;
    padding: 10px;
}

nav ul li a:hover{
    color: #fff;
}


#menuBtn{
    width: 50px;
    height: 50px;
    background: #00abf0;
    text-align: center;
    position: fixed;
    right: 30px;
    top: 5%;
    border-radius: 3px;
    z-index: 3;
    cursor: pointer;
}
#menuBtn img{
    width: 20px;
    margin-top: 15px;
}
@media screen and (max-width:770px){
    .banner-text h1{
        font-size: 60px;
        margin-top: 100px;
    }
    .banner-text p{
        font-size: 25px;
        padding-right: 20px;
        padding-left: 20px;
    }
    .banner-text .toppara{
        margin-top: 20px;
    }
    .banner-btn{
        margin-top: 150px;
    }
    .banner-btn a{
        display: block;
        margin: 20px auto;
    }
    nav ul li a{
        color: #fff;
        font-size: 15px;
    }
    .circle2{
        clip-path: circle(200px);
        filter: blur(100px);
        top: -45px;
    }
}

.borderline{
    height: 0.5vh;
}


/* feature section */
#feature{
    width: 100%;
    height: 100%;
    padding: 70px 10px;
    /* background: #081b29; */
    background: #070B1D;
}
.title-text{
    text-align: center;
    padding-bottom: 70px;
}

.title-text h1{
    font-size: 50px;
    color: #fff;
    position: relative;
}

.features {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-left: 100px;
    padding-right: 100px;
    flex-wrap: wrap;
    margin-top: 20px;
    margin-bottom: 30px;
}

.circle{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(54, 32, 255, 0.15);
    clip-path: polygon(300px);
    z-index: 0;
    filter: blur(25px);
}

.features .col{
    flex-basis: 45%;
    padding: 30px 15px;
    border: 1px solid #fff;
    position: relative;
}
.features .firstcol{
    margin-right: 20px;
}

.features h1{
    text-align: center;
    margin-bottom: 20px;
    font-weight: 600;
    color: #00abf0;
}
.features-desc{
    margin-bottom: 50px;
}

.feature-text p{
   padding: 0 20px;
   text-align: center;
   font-weight: 550;
   color: tomato;
}

@media screen and (max-width:770px){
    .title-text h1{
        font-size: 35px
    }
    .features{
        padding-left: 5px;
        padding-right: 5px;
        margin-top: 20px;
        margin-bottom: 1px;
    }
    .features .col{
        flex-basis: 100%;
        border: none;
    }
    .features .firstcol{
        margin-right: 0px;
    }
    .firstcol{
        margin-bottom: 30px;
    }
}

